@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dfdfdf;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78%;
  margin: auto;
}

.container h1 {
  color: #2e2e2e;
  font-size: 2rem;
  text-align: center;
}

.selections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  width: inherit;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 70%;
  }

  .third-oct-flat,
  .third-oct-whole, 
  #add13,#add11,#add9{
    display: none
  }
}

.radio {
  margin-right: 5px;
  color: #2e2e2e;
}

.piano {
  display: flex;
  justify-content: center;
}

.piano .white-keys {
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 200px;
}

.piano .white-key {
  background-color: white;
  height: 200px;
  width: 37px;
  border: 2px solid rgba(223, 223, 223);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.piano .black-keys {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 200px;
  top: 1.5px;
}

.piano .black-key {
  background-color: #222;
  height: 115px;
  width: 19px;
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.piano #Db1 {
  margin-left: 1px;
}

.piano #Eb1 {
  margin-left: 18px;
}

.piano #Gb1 {
  margin-left: 55px;
}

.piano #Ab1 {
  margin-left: 18px;
}

.piano #Bb1 {
  margin-left: 18px;
}

.piano #Db2 {
  margin-left: 55px;
}

.piano #Eb2 {
  margin-left: 18px;
}

.piano #Gb2 {
  margin-left: 55px;
}

.piano #Ab2 {
  margin-left: 18px;
}

.piano #Bb2 {
  margin-left: 18px;
}

.piano #Db3 {
  margin-left: 55px;
}

.piano #Eb3 {
  margin-left: 18px;
}

.piano #Gb3 {
  margin-left: 55px;
}

.piano #Ab3 {
  margin-left: 18px;
}

.piano #Bb3 {
  margin-left: 18px;
}

/* Highlighted notes class */

.hi-root {
  background-color: #F0442B;
}

.hi-triad {
  background-color: #ff8800;
}

.hi-seventh {
  background-color: #ffbb00;
}